<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784883702114-5nhvlhd6lae4ah7rrktu6g2k7uue4mt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784883702114-5nhvlhd6lae4ah7rrktu6g2k7uue4mt8</string>
	<key>API_KEY</key>
	<string>AIzaSyAsROtRfDV6-EhEqOxcXisQPFc9GtuS--U</string>
	<key>GCM_SENDER_ID</key>
	<string>784883702114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tokaionairapp</string>
	<key>PROJECT_ID</key>
	<string>tokaionair-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>tokaionair-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784883702114:ios:8df7fd2cde31200073343b</string>
</dict>
</plist>